<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
</head>
<body>
    <h1>It works!</h1>
    <form action="#" th:action="@{/add}" th:method="post" th:object="${newPerson}">
        <label>first name: <input type="text" th:field="*{person.firstName}"></label><br>
        <label>last name: <input type="text" th:field="*{person.lastName}"></label><br>
        <label>age: <input type="number" th:field="*{person.age}"></label><br>
        <input type="submit" value="Add">
    </form>
    <a th:href="@{/}">Back to the home page!</a>
</body>
</html>